.conditions {
    padding: 63px 0 87px;
}

.list {
    max-width: 550px;
    margin: 0;
    margin-left: 20px;

    list-style-image: url('../../icons/check_blue.png');
}

.list_color_red {
    list-style-image: url('../../icons/check_red.png');
}

.list__title {
    margin: 40px 0 20px;

    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    
    color: #1ca8c3;
}

.list__title_color_red {
    margin-top: 60px;

    color: #f56;
}

.list__item {
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;

    color: #222;
}

.list__descr {
    max-width: 480px;
    margin: 25px 0 0;

    font-size: 17px;
    font-weight: 300;
    line-height: 24px;

    color: #1ca8c3;
}
